APP_ENV=development
APP_BASE_URL=https://localhost

DB_HOST=postgres
DB_PORT=5432
DB_NAME=livechat_demo
DB_USER=ci
DB_PASS=secret

VALKEY_HOST=valkey
VALKEY_PORT=6379

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

SSL_CERT_PATH=/etc/ssl/certs/fullchain.pem
SSL_KEY_PATH=/etc/ssl/private/privkey.pem
