APP_ENV=development
APP_BASE_URL=https://localhost:7443

DB_HOST=postgres
DB_PORT=5432
DB_NAME=livechat_demo
DB_USER=ci
DB_PASS=secret

VALKEY_HOST=valkey
VALKEY_PORT=6379

# Nginx ports (customize if standard ports are in use)
HTTP_PORT=780
HTTPS_PORT=7443

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
